/* =============================================================================
   jBar Plugin Styles
   ========================================================================== */

.jBar {
	background:#2C2C2C;
	background-position:top;
	position:relative;
	color:#FFF;
}

.jBar .helloinner {
	display:block;
	width:1000px;
	margin:0 auto;
}

.jRibbon {
	z-index: 1000;
	padding:3px;
	position:absolute;
	top:0px;
	right:50px;
	display:none;
	background:#2C2C2C;
	border:3px solid #FFF;
	border-top:none;
	box-shadow:0 2px 5px #777;
	color:#FFF;
	cursor:pointer;
	border-radius:0 0 15px 15px;
}

.jRibbon-downarrow{
	z-index: 1000;
	padding:3px;
	position:absolute;
	top:0px;
	right:50px;
	background:#2C2C2C;
	border:3px solid #FFF;
	border-top:none;
	box-shadow:0 2px 5px #777;
	color:#FFF;
	cursor:pointer;
	border-radius:0 0 15px 15px;
}

.jRibbon-downarrow:hover {
	background:#CD1543;
	cursor:pointer;
}

.downarrow {
	position:absolute;
	top:3px;
	right:65px;
}

.jRibbon:hover {
	background:#CD1543;
	cursor:pointer;
}

.up {
	top:-50px;
}

.text {
	padding:7px 0;
	font-weight:900;
	text-align:center;
}

.text a {
	font-weight:500;
	color:#333;
	margin:0 10px;
	padding:5px 10px;
	background:#F9F9F9;
	border-radius:3px;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	box-shadow:0 0 5px #777;
}

.text a:hover {background:#EEE;color:#111;}

.arrow {
	cursor:pointer;
}

.jBar .seo-form-h2 {
    font-size: 30px;
}
#seo-info {
    margin: 0 auto;
    padding-bottom: 20px;
}
#seo-info input[type="text"] {
    border: 1px solid gray;
    border-radius: 5px 5px 5px 5px;
    font-size: 14px;
    height: 20px;
    padding: 5px;
    width: 600px;
}
#seo-info textarea {
    border: 1px solid gray;
    border-radius: 5px 5px 5px 5px;
    font-family: Arial;
    font-size: 15px;
    height: 150px;
    padding: 5px;
    width: 600px;
}
#seo-info input[type="button"] {
    border: 1px solid gray;
    border-radius: 5px 5px 5px 5px;
    font-size: 20px;
    height: 50px;
    margin-top: 15px;
    padding: 5px;
    width: 420px;
}
#seo-info .seo-form-field-info {
    color: white;
    font-size: 12px;
    font-style: italic;
}