<?xml version="1.0" encoding="utf-8"?>
<seo>
	<status>{{empty}}</status>
	<seotitle>{{seo_title}}</seotitle>
	<seodescription>{{seo_description}}</seodescription>
	<seokeywords>{{seo_keywords}}</seokeywords>
	<seotext>{% autoescape off %}{{ seo_text }} {% endautoescape %}</seotext>
    <seocanonical>{% autoescape off %}{{ seo_canonical }} {% endautoescape %}</seocanonical>
</seo>