{% load seo_tags %}

{% if request.user.is_superuser %}
<div class="jBar">
	<span class="helloinner">
			<h2 class="seo-form-h2">Настройки SEO для текущей страницы</h2>
			<form action="" method="POST" id="seo-info">
                <p><input type="hidden" name="seo-url" value="{{ request.META.PATH_INFO }}" /></p>
				<p><input type="text" value="{% seo_title %}" name="seo-title"><br /><span class="seo-form-field-info">Этот текст будет отображаться в теге title.</span></p>
				<p><input type="text" value="{% seo_keywords %}" name="seo-keywords"><br /><span class="seo-form-field-info">Этот текст будет отображаться в meta теге keywords.</span></p>
                <p><input type="text" value="{% seo_canonical 0 %}" name="seo-canonical"><br /><span class="seo-form-field-info">Этот текст будет отображаться в теге link с атрибутом rel="canonical".</span></p>
                <p><textarea name="seo-description">{% seo_description %}</textarea><br /><span class="seo-form-field-info">Этот текст будет отображаться в meta теге description.</span></p>
				<p><textarea name="seo-text" id="">{% seo_text %}</textarea><br /><span class="seo-form-field-info">Этот текст будет отображаться в специальном месте, которое выделено под SEO текст. Это поле поддерживает HTML код.</span></p>
				<p><input type="button" id="seo-form-send" value="Сохранить"></p>
			</form>
        <p class="jRibbon-downarrow jTrigger"><img src="{{ STATIC_URL }}img/arrow-up.png" class="arrow" alt="Arrow Up"></p>
	</span>
</div>
<span class="jRibbon jTrigger up"><img src="{{ STATIC_URL }}img/arrow-down.png" class="arrow" alt="Arrow Down"></span>
{% endif %}